[submodule "Projects/SOTabletas"]
	path = Projects/SOTabletas
	url = https://github.com/Ssiabatto/Tablet-Kiosk-Deployment.git
[submodule "Projects/AgenteTetris"]
	path = Projects/AgenteTetris
	url = https://github.com/Ssiabatto/AgenteTetris.git
[submodule "Projects/Huffman_Encoding"]
	path = Projects/Huffman_Encoding
	url = https://github.com/Ssiabatto/Huffman_Image_Encoding.git
[submodule "Projects/Coffee_Leaf_Diseases_Detection"]
	path = Projects/Coffee_Leaf_Diseases_Detection
	url = https://github.com/Ssiabatto/Coffee-Leaf-Diseases-Detection.git
[submodule "Projects/UNForecasting"]
	path = Projects/UNForecasting
	url = https://github.com/Ssiabatto/UNForecasting.git

